<mat-card>
  <mat-card-title>this component is BlogComponent</mat-card-title>
  <!--
  <div>Article List</div>

  <ng-container *ngFor="let route of scully.available$ | async">
    <ng-container *ngIf="route.hasOwnProperty('publish')">
      <li>
        <a [routerLink]="route.route">{{route.title || route.route}} ({{ route.category }})</a>
      </li>
    </ng-container>
  </ng-container>
  -->
  <div>ScullyIo content</div>
  <mat-divider></mat-divider>
  <!-- This is where Scully will inject the static HTML -->
  <mat-card-content>
    <scully-content></scully-content>
  </mat-card-content>
  <mat-divider></mat-divider>
  <div>End of content</div>
</mat-card>
